.card {
  width: 323px;
  height: 326px;
  position: relative;
  display: flex;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.card__info {
  display: flex;
  gap: 10px;
  position: absolute;
  top: 15px;
}

.card__name {
  font-size: 16px;
  line-height: 20px;
  opacity: 0.6;
  background-color: white;
  margin: 0;
  border-radius: 4px;
  cursor: pointer;
}

.card__like {
  height: 15px;
  width: 18px;
  background-image: url(../../assets/like-btn-default.png);
  border: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;
}

.card__like_active {
  background-image: url(../../assets/like-btn-isliked.png);
}

.card__image {
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}
